/* Empty. Add your own CSS if you like */
/*Override body bg*/

* {
    font-family: 'tabiamedium' !important;
}
body {
    /*transition: 0.75s;*/
    background-size: cover 110% !important;
    background-repeat: no-repeat !important;
}
/*View Transparent*/

.pane, .transparent-bg {
    background-color: transparent !important;
}

.light {
    color: rgba(255,255,255,0.8) !important;
}

.davinci-bar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 20px;
    width: 100%;
    background: #ffc900;
    text-align: center;
    font-family: 'tabiabold' !important;
}

.start-over-container {
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 9999;
}

.start-over-container button {
}

/* Settings Page */

.settings-container {
    padding: 20px 25px 0px 120px;
}

.btnSettings {
    position: absolute;
    bottom: 12%;
    padding: 20px;
    opacity: 0;
}

.setting-item {
    margin: 20px 0px;
}

.setting-item input {
    width: 70%;
    font-size: 1.5em;
    height: 2.25em;
    display: inline;
    padding-left: 10px;
}

/* Welcome Page */

#welcome-container {
    width: 100%;
    text-align: center;
}
#welcome-container img {
    margin-top: calc(27%);
    width: 200px;
    -webkit-animation: pulse 2s infinite;
}
/* Register page */

#register-container {
    width: 80%;
    margin-top: 120px;
}
#register-container div {
    margin-bottom: 3px;
}
/* container left */

#register-container div .left {
    width: 30%;
    background: rgba(255, 255, 255, 0.1);
    text-align: right;
    padding: 25px 15px;
    font-size: 2em;
}
/* container right */

#register-container div .right {
    width: 70%;
    background: rgba(255, 255, 255, 0.2);
    text-align: right;
    padding: 0px 20px !important;
}
#register-container div .right input {
    background: none !important;
    color: #ffc900; 
    font-size: 2em !important;
    font-family: 'tabiabold' !important;
    text-transform: uppercase;
    padding: 35px 0px;
    width: 100%;
}
.register-disclaimer .right {
    position: relative;
    padding: 20px 0px 20px 20px !important;
}

#textarea-disclaimer {
    height: 270px;
    overflow-y: scroll;
    text-align: left;
    padding: 0px 0px;
    font-family: 'tabianormal' !important;
    font-size: 1.2em;
    margin: 20px 0px !important;
}
.btn-register {
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border: none;
    position: absolute;
    padding: 14px 30px;
    bottom: -60px;
    font-family: 'tabiabold' !important;
    font-size: 1.45em;
}
#register-submit {
    right: 0px;
}
#register-cancel {
    left: 0px;
}
/* Gallery page */

.slider {
    height: 100%;
}
.slide-by-six {
    margin-top: 60px;
    height: 100%;
    width: 90%;
}
.slide-box {
    /*margin: 0 auto;*/

    height: 100%;
    text-align: center;
    transition: 1s;
}
.slide-box div {
    text-align: left;
    position: relative;
    left: 40px;
}
.slide-box a > img {
    transition: 0.25s;
    display: inline-block;
    width: 27.5%;
    margin: 15px;
    /*border: 5px solid #fff;*/
}


.gallery-image {
    /*	float: left;
	width: 50%;*/
}
.slider-pager {
    position: absolute;
    bottom: 40px;
    color: #fff !important;
}
.slider-pager-page {
    color: #fff !important;
}

.img-dialog-container {
    text-align: center;
}

.img-dialog-img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    background: rgba(0,0,0,0.7) !important;
}

.share-icon {
    width: 80px;
    margin: 1px;
    /*opacity: 1;*/
}

/* Share page */

#share-container {
    text-align: right;
    margin: 0 auto;
    margin-top: 120px;
    width: 400px;
}

#share-container textarea {
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    color: #ffc900;
    background: rgba(255,255,255,0.1);
    font-size: 1.75em;
    height: 100px;
    line-height: 1em;
    border-radius: 0px;

}

#share-container button {
    margin-top: 5px;
    background: rgba(255,255,255,0.1);
    border: none;
    font-family: 'tabiabold' !important;
    font-size: 1.45em;
    border-radius: 0px;
}

.img-to-share {
    width: 400px;
}

.btnConfirmShare {
}
/* Thankyou page */

#thankyou-container {
    font-family: 'tabiabold' !important;
    width: 550px;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    margin-top: 20%;
    height: 350px;
    padding-top: 170px;
}

#thankyou-container div {
    color: #fff;
    font-size: 0.6em;
    margin-top: 20px;
    font-family: 'tabianormal' !important;
}

.startOver {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    right: 0px;
    top: 100%;
    font-size: 2.5em;
    padding: 18px 40px;
}

/* misc */

.left {
    float: left;
}
.right {
    float: right;
}
/* Animation */

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.995);
    }
    50% {
        -webkit-transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(0.98);
    }
}
[nav-view="leaving"] {
    opacity: 0 !important;
}

[ng-disabled] {
    /*color: #7B7B7B;*/
}
